<div id="<%= dom_id article %>">

  <p>
    <% if article.foto.attached? %>
      <%= image_tag article.foto %> 
    <% else %>  
      <%= image_tag 'foto.jpg' %>
    <% end %>   

  </p>
  <p>
    <strong>Name:</strong>
    <%= article.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= article.user.email %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= article.brand.name %>
  </p>

</div>
