<div id="<%= dom_id order %>">
  <p>
    <strong>Cantidad de Artículos</strong>
    <%= order.number %>
  </p>

  <p>
    <strong>Precio Total</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Lugar de Envío</strong>
    <%= order.place %>
  </p>

  <!--p>
    <strong>Usuario</strong>
    <%= order.user_id %>
  </p-->
  
  <p>
    <strong>Artículos</strong>
    <%= order.articles.map(& :name).sort.join(' 🥨 ') %>
  </p>

</div>
