<div id="<%= dom_id order %>">
  <p>
    <strong>Number:</strong>
    <%= order.number %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order.price %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= order.place %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
